.title
{
    font-size : 40px;
    text-align: center;
    margin-top : 20px;
}

.underTitle
{
    color : grey; 
    font-size : 20px;
    text-align: center;
}

.paragraphs
{
    font-size : 25px;
    text-align: center;
}

.content
{
    margin-top : 40px;
}
.contentDeleteTables
{
    margin-top : 20px;
}
.fixed-bottom
{
    margin-bottom: 20px !important;
}
.sectionDeleteTables
{
    margin-top : 20px;
}

.headerSection
{
    height: 25%;
}

h1
{
    padding:15px;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
}

.sectionTitle
{
    font-size : 25px;
    text-align: center;
}

.divTables
{
    float : left;
    margin-left : 25px;
}
